<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node x Express</title>
</head>
<body>
  <h1>Hello</h1>
  <p>This is default ejs in Node.js + Express.js</p>
</body>
</html>